<!doctype html>
<html ng-app="<%%= htmlWebpackPlugin.options.appMountId ? htmlWebpackPlugin.options.appMountId : 'app' %>">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%%= htmlWebpackPlugin.options.baseHref ? htmlWebpackPlugin.options.baseHref : '/' %>">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<ui-view></ui-view>
</body>
</html>
